@import '../../../assets/colors.scss';

.Button {
  padding: 0.6em 1.2em;
  color: $tertiary;
  border-radius: 1.2rem;
  border: 1px solid $tertiary;
  background-color: $primary;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;

  &:hover,
  &:focus {
    outline: 0;
    background-color: $tertiary;
    color: $primary;
  }

  &:active,
  &:focus {
    outline: 0;
    transform: scale(0.95);
  }
}
