@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';
@import '../../../assets/colors.scss';

.PersonRow {
  @include table-row;
  justify-content: center;
  background-color: #f7fdfd;
  max-width: 100vw;

  &:nth-child(even) {
    background-color: #e1f5f3;
  }

  .cell {
    padding: 0.5rem 1rem;
    border-right: 1px solid $tertiary;

    &:last-child {
      border-right: 0;
    }
  }

  .field {
    padding: 1rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid #c4c4c4;
    box-shadow: 0 1px 5px 1px #cccc inset;
    font-size: 1rem;
    color: #666;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
  }

  @media (max-width: $max-mobile-width) {
    grid-template-columns: auto 10em;

    .cell {
      border: 0;
    }

    .id {
      &::before {
        content: 'id: ';
        font-weight: bold;
      }
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 1;
    }

    .name {
      font-weight: bold;
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 1;
      padding-top: 0;
      padding-bottom: 0;
    }
    .age {
      &::after {
        content: ' y.o.';
      }
      grid-row-start: 3;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 1;
      align-self: stretch;
    }

    .about {
      grid-row-start: 4;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .actions {
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 2;
      flex-direction: row;
      align-items: start;
      justify-content: end;

      svg {
        width: 20px;
      }
    }

    &.adding {
      display: flex;
      flex-direction: column;
      padding: 1.5em 0;
      width: 100vw;

      .id {
        display: none;
      }

      .name {
        &::before {
          content: 'Name:';
        }
      }

      .age {
        &::before {
          content: 'Age:';
          font-weight: bold;
        }
        &::after {
          content: '';
        }
      }

      .about {
        &::before {
          content: 'About:';
          font-weight: bold;
        }
      }

      .actions {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }
}
