@import '../../assets/variables.scss';

.Table {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.dataTable {
  width: 100vw;
}

.error {
  color: rgb(114, 31, 31);
  font-weight: bold;
}
