@import './colors.scss';

@mixin table-row {
  display: grid;
  grid-template-columns: $id-cell $name-cell $age-cell $about-cell $actions-cell;
  grid-template-rows: min-content min-content min-content;

  @media (max-width: $min-desktop-width) {
    grid-template-columns: 3rem 12rem 5rem 1fr 9rem;
  }
}
